*{margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after{ box-sizing: border-box;}
ul,ol{list-style: none;}


body{ 
    font-size:3.7vw;
}

a{ 
    text-decoration: none;
    color: #333;
}

section >h2:first-child{
    font-size: 4.5vw;
    border-left: 2px solid #d43c33;
    margin: 0.8em 0;
    font-weight: normal;
    padding-left: 2vw;
}

.topbar {
    background: #d43c33; 
    padding: 4.5vw 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar .logo{
    width: 38vw;
}
.topbar .downloadApp{
    line-height: 7.5vw;
    border: 2px solid white;
    border-radius:4.25vw;
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 .5em;
}

.siteNav > ol{
    display: flex;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    font-size: 1.1em;

}
.siteNav > ol>li{
    flex: 1;
}
.siteNav > ol> li.active{
    color: #d43c33;
}
.siteNav > ol> li> span{
    line-height: 11vw;
    display: inline-block;
    position: relative;
}
.siteNav > ol> li.active> span::before{
    content: '';
    position: absolute;
    bottom: 0;
    border-top: 2px solid #d43c33;
    left: -2vw; right: -2vw;
}

.tabContent > li{display: none;}
.tabContent > li.active{display: block;}
.tabContent > li> #tab2Loading + #tab2Loading{
    text-align: center;
}

.playLists{
    margin-top: 5.5vw;
}
.playLists > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.93em;
}
.playLists > ul img{
    width: 100%;
}
.playLists > ul> li{
    width: calc(33.333333% - 0.5vw);
    margin-bottom: 4vw;
}
.playLists > ul> li p{
    padding: 0 1vw;
    line-height: 4vw;
    height: 8vw;
    overflow: hidden;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 最新音乐 */
#lastesMusicLoading{
    text-align: center;
}
.lastesMusic{
    padding-bottom: 5vw;
}
.lastesMusic > ol{
    padding-left: calc(2.6vw + 2px);
}
.lastesMusic > ol> li{
    padding: 1.5vw 0;
    position: relative;
}
.lastes{
    border-bottom: 1px solid #e2e2e3;
}
.lastesMusic > ol> li h3{
    font-size: 4.53vw;
    font-weight: normal;
}
.lastesMusic > ol> li p{
    font-size: 3.2vw; color: #888;
    line-height: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.lastesMusic > ol> li svg.play{
    width: 6.5vw;
    height: 6.5vw;
    position: absolute;
    right: 4vw;
    top: 50%;
    transform: translateY(-50%);
    fill: #AAA;
}
.lastesMusic > ol> li svg.sq{
    width: 4.5vw;
    height: 4.5vw;
    margin-right: 0.5em;
    fill: #fe672e;

}

section.art{
    background: url(../img/bg.png) no-repeat;
    padding-top: 16vw;
}
section.art .logo{
    text-align: center;
}
section.art .logosvg{
    width: 61.7vw;
}
section.art .openApp{
    display: block;
    max-width: 80vw;
    padding: 1vw 0;
    margin: 0 auto;
    text-align: center;
    color:#d33a31;
    border: 1px solid #d33a31;
    font-size: 4.3vw;
    text-decoration: none;
    line-height: 8vw;
    border-radius: 5.3vw;
    margin-bottom: 1vw;
    margin-top: 3vw;
}
section.art .copyright{
    font-size: 3.2vw;
    transform: scale(.75);
    text-align: center;
    color: #888;
    padding-bottom: 5vw;
}

/* 热歌榜 */
.hotSong > .list{
   text-align: center;
}
.hotSong > .list> a> span{
    font-size: 3.2vw;
    transform: scale(.75);
    text-align: center;
    color: #888;
    padding-bottom: 5vw;
}
.hotSong> .hotBg{
    position: relative;
    padding-top: 38.9%;
    background: url(../img/rgb-bg1.png) no-repeat;
    background-size: contain;
}
.hotSong> .hotBg> .bg{
    background: url(../img/rgb-bg2.png) no-repeat;
    background-size: contain;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50vw;
}
.hotSong > .list> a>{
    position: relative;
}
.listing:nth-child(-n+3){
    color: #df3436;
}

.listing{
    color: #999;
    width: 28px;
    font-size: 4.53vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50%); 
}
.song{
    padding-left: 7vw;
}
.hotLine{
    border-bottom: 1px solid #e2e2e3;
    padding-bottom: 2vw;
}

/* 搜索 */
.inputcover{
    padding-top: 13px;
}
.inputcover >.inputBox {
    background: #ebecec;
    border-radius: 30px;
    position: relative;
    margin: auto;
    width: 96%;
}
.inputcover >.inputBox > #search{
    border-radius: 22px;
    font-size: 14px;
    padding: 5px;
    background: #ebecec;
    border: none;
    outline: none;
    margin-left: 6vw;
}
.inputcover >.inputBox > .copy{
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2vw;
}
.inputcover >.line{
    border-bottom: 1px #cccccc solid;
    margin-top: 13px;
}